$cyan: #00f6f6;
$divider: 2px solid #eee;
* {
  margin: 0;
  padding: 0;
}
html {
  background: #eee;
}
body {
  margin: auto;
  max-width: 420px;
}
ul, li {
  list-style: none;
}
.header {
  & {
    color: #fff;
    background: $cyan;
    text-align: center;
    line-height: 1.1rem;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  .title {
    font-size: 1em;
    font-weight: 500;
  }
  .icon-back {

  }
  .back {
    position: absolute;
    left: 20px;
  }
}
.nav {
  & {
    text-align: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.1rem;
    color: #000;
    font-size: 0.9em;
    background: #fff;
  }
  .nav-tab {
    & {
      flex-grow: 1;
      box-sizing: border-box;
    }
    &.active {
      border-bottom: 3px solid $cyan;
    }
  }
}
.content {
  margin-top: 2.2rem;
  position: relative;
}
.bg {
  & {
    width: 10rem;
    height: 5.6rem;
  }
  img {
    width: 10rem;
    height: 5.6rem;
  }
}
.labels {
  & {
    display: flex;
    height: 2.9rem;
    padding: 0 0.25rem;
    justify-content: space-between;
    text-align: center;
    background: #fff;
    overflow: hidden;
  }
  & > div {
    width: 100%;
    display: flex;
    border-bottom: $divider;
  }
  .label {
    flex-grow: 1;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .circle {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: $cyan;
    margin-bottom: 0.4rem;
  }
  .icon-book {
    display: block;
    position: relative;
    top: 0.25rem;
    left: 0.25rem;
    height: 0.7rem;
    width: 0.7rem;
    background: url(../../img/label.svg) no-repeat;
    background-size: 0.7rem 0.7rem;
  }
}
.columns {
  & {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: #fff;
    padding: 0.4rem 0.3rem;
  }
  & > article {
    border-right: $divider;
    flex-grow: 1;
  }
  article:last-child {
    border-right: none;
  }
  h4 {
    margin-bottom: 0.3rem;
  }
  h5 {
    font-weight: 500;
  }
}
.modules {
  img {
    width: 2.2rem;
    height: 2.2rem;
  }
  ul {
    padding-top: 15px;
  }
  li {
    display: flex;
  }
  h4 {
    color: #888;
    font-weight: 500;
  }
  .module {
    margin-top: 0.4rem;
    padding: 0 10px;
    background: #fff;
  }
  .title {
    line-height: 1.1rem;
    border-bottom: $divider;
  }
  .des {
    & {
      display: flex;
      flex-direction: column;
      line-height: 1rem;
      text-align: center;
      margin-left: 10px;
      flex-grow: 1;
      font-size: 0.8em;
    }
    span {
      display: block;
      background: #eee;
      margin-bottom: 0.2rem;
    }
  }
}
.articles {
  & {
    margin-top: 0.4rem;
  }
  li {
    & {
      display: flex;
      background: #fff;
      padding: 0.3rem;
      border-bottom: $divider;
    }
    img {
      width: 2.8rem;
      height: 2rem;
    }
  }
  h4 {
    font-weight: 500;
  }
  p {
    font-size: 0.7em;
    color: #666;
  }
  .title {
    & {
      margin-left: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .multi-img {
    & {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    img {
      margin-right: 0.1rem;
      flex-grow: 1;
    }
    .imgs {
      display: flex;
      margin: 0.3rem 0 0.2rem;
      justify-content: space-between;
    }
  }
}
@media screen and (max-width: 321px) {
  body {
    font-size:16px
  }
}

@media screen and (min-width: 321px) and (max-width:400px) {
  body {
    font-size:17px
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size:19px
  }
}
