* {
  margin: 0;
  padding: 0;
}
body {
  background: #e0e0e0;
  font-family: 'Helvetica Neue',Helvetica,'Lucida Grande',Arial,'Hiragino Sans GB','WenQuanYi Micro Hei',STHeiti,SimSun,sans-serif;
  min-width: 1080px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: blue;
}
ul, li {
  list-style: none;
}
h3 {
  font-size: 20px;
  margin: 20px 0;
}
h4 {
  & {
    font-size: 18px;
    margin: 5px 0;
  }
  a {
    font-size: 12px;
    border: 1px solid #111;
    padding: 1px 3px;
    border-radius: 5px;
    margin-left: 7px;
  }
  .icon-link {
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    background: url(../../img/nav.svg);
    background-size: 15px;
  }
}
h3, h4 {
  line-height: 30px;
}
.container {
  width: 1080px;
  height: 1527px;
  margin: auto;
  display: flex;
}
.sidebar, .main {
  box-sizing: border-box;
}
.sidebar {
  & {
    padding: 15px;
    width: 320px;
    color: #fff;
    background: #00bfa5;
  }
  .title {
    & {
      height: 200px;
      margin: 20px 0;
      text-align: center;
    }
    img {
      width: 120px;
    }
  }
  dt {
    font-size: 18px;
    color: #9f3;
    line-height: 40px;
  }
  dd {
    & {
      font-size: 14px;
      line-height: 20px;
      margin-left: 20px;
    }
  }
  .skill-name {
    position: relative;
    top: -3px;
    width: 80px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
  }
  .skill-bar-wrap {
    height: 17px;
    width: 140px;
    background: #00796b;
    display: inline-block;
    border-radius: 20px;
  }
  .skill-bar {
    height: 17px;
    background: #fff;
    border-radius: 20px 0 0 20px;
  }
  .personal-des {
    text-indent: 2em;
    margin-top: 90px;
    color: #111;
    font-size: 18px;
  }
}
.main {
  & {
    width: 760px;
    background: #f8f8f8;
    padding: 20px;
  }
  dt {
    font-size: 24px;
    border-bottom: 1px solid #000000;
    margin: 20px 0;
    font-weight: 600;
  }
  dd {
    font-size: 16px;
  }
  dd, dt {
    line-height: 30px;
  }
  .basic-info {
    dd {
      margin-left: 20px;
    }
  }
  .exp {
    & {
      margin-left: 10px;
      border-left: 2px solid #444444;
      position: relative;
    }
    li {
      position: relative;
      top: -10px;
      margin-left: 20px;
    }
    .des {
      line-height: 22px;
      margin-bottom: 5px;
    }
    .dot {
      position: absolute;
      left: -28px;
      top: 8px;
      height: 14px;
      width: 14px;
      display: inline-block;
      border-radius: 50%;
      background: #000;
    }
  }
}