.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box1, .box2, .box3, .box4 {
  width: 150px;
  margin: 20px;
  box-sizing: border-box;
}
.box1, .box2, .box3 {
  border: 1px solid #f00;
}
.box4 {
  border: 1px solid #00f;
}
.box1 {
  height: 120px;
}
.box2 {
  height: 100px;
}
.box3 {
  height: 40px;
}
.box4 {
  height: 200px;
  order: -1;
}
@media (min-width: 641px) {
  .container {
    align-items: center;
    flex-wrap: nowrap;
  }
  .box4 {
    order: 0;
  }
}