.container {
  width: 400px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ccc;
  overflow: hidden;
  margin-left: -200px;
  margin-top: -100px;
}
.container1 {
  width: 400px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ccc;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 {
  width: 400px;
  height: 200px;
  background: #ccc;
  overflow: hidden;
  position: relative;
}
.fan1 {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fc0;
}
.fan2 {
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fc0;
}